# Ignore node_modules
node_modules

# Ignore .git directory
.git

# Ignore .env file
.env

# Ignore logs
*.log

# Ignore the Dockerfile
Dockerfile

# Ignore the docker-compose file
docker-compose.yml
